<!DOCTYPE html>
<html>
	
<head>
	<meta charset="utf-8">
	<title>Contact Page</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li>
					<a href="https://www.nasa.gov/" target="blank">NASA</a>
				</li>
				<li>
					<a href="../index.html#imageArea">Internal Link to image</a>
				</li>
				<li>
					<a href="../index.html">Home</a>
				</li>
				<li>
					<a href="./about-page.html">About us</a>
				</li>
				<li>
					<a href="#">Contact us</a>
				</li>
			</ul>
		</nav>
	</header>

	<main>
		<h1>Contact page</h1>
		


		<form method="GET" target="https://www.w3schools.com/html/html5_semantic_elements.asp">
			<fieldset>
				<legend>My Form</legend>
			

			<label for="name-field">
				<p>*Enter First Name</p>
				<input id="name-field" name="firstName" type="text" placeholder="Enter you name" required maxlength="4" minlength="2">
			</label>

<br>


			<p> Choose you favorite food!</p>

			<span>Chicken</span>
			<input type="radio" name="choseOne" value="Chicken">
			<span>Bread</span>
			<input type="radio" name="choseOne" value="Bread">
			<span>MacDonalds</span>
			<input type="radio" name="choseOne" value="MacDonalds">
			<span>Fry</span>
			<input type="radio" name="choseOne" value="Fry">
			

			<input type="tel" placeholder="Telephoen" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
			<input type="email" placeholder="mail@ggf.com" required>
			<input type="password" placeholder="You password">

			<input type="number" name="myAge" placeholder="Enter you age" max="100" min="18">
			<input type="date" name="serlectData">

			<input type="color">
			<input type="file">

			<input type="checkbox">
			<input type="button" name="" value="ok">			

			<textarea name="mainText" width="100" height="150"></textarea>

			<select name="myCity" >
				<option value="Lviv">Lviv</option>
				<option selected="selected" value="Kiev">Kiev</option>
				<option value="ODessa">ODessa</option>
				<option value="Rivne">Rivne</option>
			</select>

			<a href="./about-page.html" download>Download</a>

			<button type="submit">Send Message</button>
			</fieldset>
		</form>
	</main>

	<footer>
		<div>
			<h3>Contacts Footer</h3>
		</div>
	</footer>
</body>
</html>