	<!DOCTYPE html>
<html>
	
<head>
	<meta charset="utf-8">
	<title>HTML Grail Page</title>
	<link rel="stylesheet" href="../css/main-style.css" >
</head>
<body>
	<header class="main-page-header background-gray-color">
		<nav class="main-menu-inner-area">
			<ul>
				<li>
					<a href="https://www.nasa.gov/" target="blank">NASA</a>
				</li>
				<li>
					<a href="../index.html#imageArea">Internal Link to image</a>
				</li>
				<li>
					<a href="../index.html">Home</a>
				</li>
				<li>
					<a href="./about-page.html">About us</a>
				</li>
				<li>
					<a href="./contact-us-page.html">Contact us</a>
				</li>
				<li>
					<a href="#">Grail</a>
				</li>
			</ul>
		</nav>
	</header>

	<main class="page-body-wrapper page-container-area">
		<nav class="left-page-menu background-purple-color">
			<h3>Nav</h3>
			<ul>
				<li><a href="#">Target 1</a></li>
				<li><a href="#">Target 2</a></li>
				<li><a href="#">Target 3</a></li>
			</ul>
		</nav>
		<section class="main-page-content-area">
			<div class="main-page-upper-columns">
				<div>#1</div>
				<div>#2</div>
				<div>#3</div>
			</div>
			<article class="background-blue-color">
				<h3>Middle Content</h3>
			</article>
			<article>
				<h3>Middle Content 2</h3>
			</article>
		</section>
		<aside class="right-product-adwertisement-area background-teal-color">
			<h3>Aside ADW area</h3>
		</aside>
	</main>

	<footer>
		<div>
			<h3>Contacts Footer</h3>
		</div>
	</footer>
</body>
</html>