	<!DOCTYPE html>
<html>
	
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HTML Grail Page</title>
	<link rel="stylesheet" href="../css/main-style.css" >
</head>
<body>
	<header class="main-page-header background-gray-color">
		<nav class="main-menu-inner-area page-container-area">
			<ul>
				<li>
					<a href="https://www.nasa.gov/" target="blank">NASA</a>
				</li>
				<li>
					<a href="../index.html#imageArea">Internal Link to image</a>
				</li>
				<li>
					<a href="../index.html">Home</a>
				</li>
				<li>
					<a href="./about-page.html">About us</a>
				</li>
				<li>
					<a href="./contact-us-page.html">Contact us</a>
				</li>
				<li class="active-menu">
					<a href="#">Grail</a>
				</li>
			</ul>
		</nav>
	</header>

	<header class="page-main-banner">
		<div class="page-container-area main-banner-inner-area">
			<h1>Welcome My Page</h1>
			<a href="#picture-area">
				<div class="arrow-down">	&dArr;</div>
			</a>
		</div>
	</header>



	<main class="page-body-wrapper page-container-area">
		<nav class="left-page-menu background-purple-color">
			<h3>Nav</h3>
			<ul>
				<li><a href="#">Target 1</a></li>
				<li><a href="#">Target 2</a></li>
				<li><a href="#">Target 3</a></li>
			</ul>
		</nav>
		<section class="main-page-content-area">
			<div class="main-page-upper-columns">
				<div>#1</div>
				<div>#2</div>
				<div>#3</div>
			</div>
			<article class="background-blue-color">
				<h3>Middle Content</h3>
				<img class="test-picture blur-picture" src="https://cdn.getyourguide.com/img/tour/51c46ff2cfb62.jpeg/148.jpg">

				<img class="test-picture sepia-picture" src="https://cdn.getyourguide.com/img/tour/51c46ff2cfb62.jpeg/148.jpg">

				<img class="test-picture hue-color-picture" src="https://cdn.getyourguide.com/img/tour/51c46ff2cfb62.jpeg/148.jpg">

				<p>Scale - Transform</p>
				<img class="test-picture scale-this-picture" src="https://cdn.getyourguide.com/img/tour/51c46ff2cfb62.jpeg/148.jpg">

				<img class="test-picture rotate-style" src="https://cdn.getyourguide.com/img/tour/51c46ff2cfb62.jpeg/148.jpg">


				<div class="test-picture advanced-animation"></div>

				<a id="picture-area"></a>
			</article>
			<article>
				<h3>Middle Content 2</h3>

				<ul class="strips-list">
					<li>Item text 1</li>
					<li>Item text 1</li>
					<li>Item text 1</li>
					<li>Item text 1</li>
					<li>Item text 1</li>
					<li>Item text 1</li>
				</ul>
			</article>
		</section>
		<aside class="right-product-adwertisement-area background-teal-color">
			<h3>Aside ADW area</h3>
		</aside>
	</main>

	<footer class="page-footer">
		<div class="page-container-area">
			<h3>Contacts Footer</h3>
		</div>
	</footer>
</body>
</html>