@media screen and (max-width: 1200px){
	:root{
	  --gap: 20px;
	  --wrapper_width: 960px;
	  --button-arrow:20px;
	  --top-distance: 125px;
	  --soc-img-size: 30px;
	}
	.banner-main-text h1 {
	    margin-top: 3%;
	    font-size: 60px;
	    line-height: 68px;
	}
	.nav{
		background-color: #fff;
	}
}