body {
    margin: 0;
    background: linear-gradient(142deg, rgba(103,103,255,1) 0%, rgba(255,0,86,1) 100%);
}
.container {
    margin: 0 auto;
    max-width: 1200px;
}
.form-controller {
    background: #fff;
    padding: 10px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.my-form-row {
    display: flex;
    align-items: center;
    height: 100vh;
}
.my-form-row .list-wrapper,
.my-form-row .form-wrapper {
    width: 50%;
}
.my-form-row .list-wrapper {
    background: #3a566fa3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
form.form-controller fieldset{
    border-radius: 10px;
}

form.form-controller input[type=text],
form.form-controller input[type=email],
form.form-controller input[type=submit]
{
    width: 80%;
    padding: 10px;
    border: 1px solid #4a0379;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #4a0379;
    box-shadow: 2px 2px 5px #5f0c9742;
}
form.form-controller input[type=color] {
    width: 50%;   /*  зменшив розмір інпута */
    display: block; /* перетворив його в блочний елемент щоб потім можна було центрувати */
    margin: 0 auto;  /* центрування елемента */
}
form.form-controller input[type=submit] {
    background: #4a0379;
    color: #fff;
    width: 50%;
    font-weight: 900;
    cursor: pointer;
    transition: .2s linear;
    margin-top: 30px;  /* відсуваю кнопку від верху */
}
form.form-controller input[type=submit]:active {
    background: #8c48b9;
}
form.form-controller label p{
    color: red;
    font-size: 12px;
}

#userList {
    margin-left: 0;
    padding: 0;
    overflow: hidden;  /* обрізає все зайве*/
    max-height: 359px;  /* обмежую розміри списку */
    min-height: 369px;
    overflow-y: scroll;  /*  роблю прокрутку списку якщо в ньому появляться нові юзери */
}
#userList li {
    padding: 5px;
    background: #fff;
    margin: 0 auto;  /* центрую блок */
    margin-top: 3px;
    width: 90%;
    border-radius: 5px;
    list-style-type: number;
    list-style-position: inside; 
    box-sizing: border-box;   /* правило щоб усі padding & border були в середині*/
    overflow: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.349);
} 
#userList li:nth-child(odd) {
    background: #e8e8e8;
}


.list-style .delate-btn { /* стилізація кнопки видалення */
    background: red;
    float: right;
    border: 0px;
    border-radius: 25px;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    min-width: 40px;
    cursor: pointer;
    transition: all .3s linear;
}
.list-style .delate-btn:hover {
    background: rgb(173, 81, 81);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px red;
}